body, p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    z-index: -10;
}

.fl {
    float: left;
}

img {
    vertical-align: bottom;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;

}

/*banner部分开始*/
.banner {
    height: 1060px;
    background: url(../images/top_bg_6c4a724.png) no-repeat center 0;
    overflow: hidden;
    position: relative;
}

.banner .logo {
    position: absolute;
    cursor:pointer;
    z-index:10;
    left: 122px;
    top: 25px;
    opacity: 0;
    height: 84px;
    width: 136px;
}

.banner .logo img {
    height: 84px;
    margin-left: 10px;
}

.banner .enterWeb {
    position: absolute;
    cursor:pointer;
    top: 40px;
    right: -265px;
    width: 265px;
    height: 51px;
    z-index: 2;
    opacity: 0.2;
    background: url(../images/index_z_25a05c0.png) no-repeat -356px 0px;

}

.banner .enterWeb span {
    position: absolute;
    width: 265px;
    height: 51px;
    top: 0;
    left: 0;
    background: url(../images/index_z_25a05c0.png) no-repeat -356px 0px;
    opacity: 0.6;
}

.banner .lpic {
    position: absolute;
    left: -500px;
    opacity: 0;
}

.banner .lpic img {
    height: 1200px;
}

.banner .cpic {
    position: absolute;
    left: 420px;
    top: 10px;
    z-index: 4;
    display: none;
}

.banner .rpic {
    position: absolute;
    right: -320px;
    opacity: 0;
}

.banner .rpic img {
    height: 1300px;
}

.banner .download {
    position: absolute;
    left: 533px;
    top: 658px;
    height: 134px;
    width: 356px;
    border: 2px solid #daca9b;
    border-radius: 16px;
    z-index:3;
}

.banner .download .ewm {
    margin-left: 20px;
    margin-top: 13px;
    position: relative;
}

.banner .download .ewm span {
    display: block;
    width: 102px;
    height: 4px;
    background: url(../images/index_z_25a05c0.png) -499px -104px;
    position: absolute;
    top: 0;
    left: 4px;
    animation: move 2s infinite linear;
}

/*设置蓝光动画*/
@keyframes move {
    0% {

    }
    100% {
        transform: translateY(102px);
    }
}

.banner .download .ewm img {
    width: 107px;
    height: 107px;
    border-radius: 4px;
}

.banner .download .ewm + div {
    width: 15px;
    height: 107px;
    background: url(../images/index_z_25a05c0.png) -6px -141px;
    margin-top: 13px;
    margin-left: 5px;
}

.banner .download .down {
    width: 170px;
    height: 134px;
}

.banner .download .down .ios {
    height: 50px;
    width: 170px;
    cursor:pointer;
    margin-bottom: 5px;
    background: url(../images/index_z_25a05c0.png) -144px -188px;
}

.banner .download .down .andriod {
    height: 50px;
    width: 170px;
    cursor:pointer;
    background: url(../images/index_z_25a05c0.png) -142px -136px;
}

.banner .download .down {
    margin-top: 13px;
    margin-left: 20px;
}

.banner .download .mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.2;
    height: 134px;
    width: 356px;
    background-color: #000;
    border-radius: 14px;
}

.banner .copyright {
    position: absolute;
    top: 720px;
    left: 60px;
    color: #fff;
    font-size: 20px;
}

.banner .wave1 {
    position: absolute;
    left: -100px;
    bottom: -50px;
    z-index: 2;
    animation: wavemove1 6s linear infinite alternate-reverse;
}

.banner .wave2 {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 50px;
    animation: wavemove2 6s linear infinite alternate-reverse;
}

/*波浪动画*/
@keyframes wavemove1 {
    0% {
        left: -100px;
        bottom: -50px;
    }

    25% {
        left: -120px;
        bottom: -70px;
    }
    50% {
        left: -140px;
        bottom: -60px;
    }
    75% {
        left: -120px;
        bottom: -50px;
    }
    100% {
        left: -100px;
        bottom: -50px;
    }
}

@keyframes wavemove2 {
    0% {
        left: 50px;
        bottom: 0px;
    }

    25% {
        left: 70px;
        bottom: 30px;
    }
    50% {
        left: 80px;
        bottom: 20px;
    }
    75% {
        left: 60px;
        bottom: 10px;
    }
    100% {
        left: 50px;
        bottom: 0px;
    }
}

/*新版本情报部分*/
.news {
    height: 1030px;
    margin-top: -30px;
    overflow: hidden;
    background: url(../images/center_bg_06ee6bc.png) center;
    position: relative;
}

.news .title {
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
}

.news li {
    float: left;
    cursor: pointer;
    opacity: 0.7;
}

.news ul.top {
    position: absolute;
    height: 311px;
    top: 99px;
    left: -1215px;
    opacity: 0;
}

.news ul.bottom {
    position: absolute;
    left: 1328px;
    height: 306px;
    width: 1222px;
    top: 410px;
    opacity: 0;
}

.news ul.top li {
    margin-right: 120px;
}

.news ul.bottom li {
    margin-right: 80px;
    margin-top: 60px;
}

.news ul li:first-child {
    margin-left: 20px;
}

.news ul li:last-child {
    margin-right: 0;
}

/*人物介绍详情部分*/
.figureText {
    width: 100%;
    height: 700px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}

.figureText > i {
    font-style: normal;
    position: absolute;
    width: 100%;
    height: 700px;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}

.figureText > div {
    background-color: #eee;
    position: absolute;
    top: 100px;
    height: 420px;
    width: 100%;
    display: none;
}

.figureText > div > img {
    position: absolute;
}

.figureText > :nth-child(1) img {
    left: 150px;
    top: -112px;
}

.figureText > :nth-child(2) img {
    left: 70px;
    top: -90px;
}

.figureText > :nth-child(3) img {
    left: 105px;
    top: -120px;
}

.figureText > :nth-child(4) img {
    left: -66px;
    top: -60px;
}

.figureText > :nth-child(5) img {
    left: 15px;
    top: -25px;
}

.figureText > :nth-child(6) img {
    left: 140px;
    top: -88px;
}

.figureText > a {
    position: absolute;
    z-index: 8;
    top: 47px;
    right: 85px;
    width: 44px;
    height: 44px;
    background: url(../images/index_z_25a05c0.png) no-repeat -358px -102px;
}

.figureText > div span {
    position: absolute;
    width: 114px;
    height: 211px;
    left: 600px;
    top: 45px;
}

.figureText > div div.text {
    width: 465px;
    height: 315px;
    position: absolute;
    left: 740px;
    top: 55px;
}

.figureText > div.arrLeft {
    position: absolute;
    z-index: 10;
    left: 40px;
    top: 297px;
    width: 47px;
    height: 42px;
    cursor: pointer;
    display: block;
    background: url(../images/index_z_25a05c0.png) no-repeat -401px -102px;
}

.figureText > div.arrRight {
    position: absolute;
    z-index: 10;
    right: 40px;
    top: 297px;
    width: 47px;
    height: 42px;
    cursor: pointer;
    display: block;
    background: url(../images/index_z_25a05c0.png) no-repeat -449px -102px;
}

.figureText > div div.text h2 {
    color: #9f7f3a;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: "\u5B8B\u4F53";
    margin-bottom: 20px;
}

.figureText > div div.text > p i {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.figureText > div div.text p {
    overflow-y: auto;
    width: 465px;
    height: 250px;
    font-size: 14px;
    line-height: 30px;
}

/*底部部分*/
.bottom1 {
    height: 1000px;
    background: url(../images/bottom_bg_0303ebc.jpg) center;
    background-size: cover;
    margin-top: -185px;
    position: relative;
    z-index: -1;
}

.bottom1 .feature {
    height: 780px;
}

.bottom1 .feature .arrLeft {
    position: absolute;
    cursor: pointer;
    left: 100px;
    top: 407px;
    width: 36px;
    height: 47px;
    background: url(../images/index_z_25a05c0.png) no-repeat -529px -51px;
}

.bottom1 .feature .arrRight {
    position: absolute;
    cursor: pointer;
    right: 83px;
    top: 407px;
    width: 36px;
    height: 47px;
    background: url(../images/index_z_25a05c0.png) no-repeat -565px -51px;
}

.bottom1 .feature .sideline {
    position: absolute;
    bottom: 240px;
    left: 133px;
}

.bottom1 .feature .title {
    position: absolute;
    top: 100px;
    left: 500px;
}

.bottom1 .feature > ul {
    position: absolute;
    bottom: 280px;
    left: 50%;
    margin-left: -494px;
    width: 1000px;
    height: 516px;
}

.bottom1 .feature > ul li {
    position: absolute;
}

.bottom1 .feature > ul li:nth-child(1) {
    width: 600px;
    opacity: 1;
    top: 90px;
    left: 205px;
    z-index: 10;
}

.bottom1 .feature > ul li:nth-child(2) {
    width: 400px;
    opacity: 0.7;
    top: 60px;
    left: 0;
    z-index: 8;
}

.bottom1 .feature > ul li:nth-child(3) {
    width: 300px;
    opacity: 0.3;
    top: 0;
    left: 181px;
    z-index: 6;
}

.bottom1 .feature > ul li:nth-child(4) {
    width: 300px;
    opacity: 0.3;
    top: 0;
    left: 481px;
    z-index: 6;
}

.bottom1 .feature > ul li:nth-child(5) {
    width: 400px;
    opacity: 0.7;
    top: 60px;
    left: 599px;
    z-index: 8;
}

.bottom1 .feature ul img {
    width: 100%;
}

.bottom1 .feature .imgCover {
    position: absolute;
    bottom: 280px;
    left: 50%;
    margin-left: -494px;
    width: 1000px;
    height: 516px;
}

.bottom1 .feature .imgCover span {
    position: absolute;
    /*width: 100%;*/
    background-color: #000000;
}

.bottom1 .feature .imgCover span:nth-child(1) {
    width: 600px;
    height: 450px;
    opacity: 0;
    left: 205px;
    top: 90px;
    z-index: 11;
}

.bottom1 .feature .imgCover :nth-child(2) {
    width: 400px;
    height: 300px;
    opacity: 0.5;
    left: 0px;
    top: 60px;
    z-index: 9;
}

.bottom1 .feature .imgCover :nth-child(3) {
    width: 300px;
    height: 225px;
    opacity: 0.3;
    position: absolute;
    left: 181px;
    top: 0px;
    z-index: 7;
}

.bottom1 .feature .imgCover :nth-child(4) {
    width: 300px;
    height: 225px;
    opacity: 0.3;
    position: absolute;
    left: 481px;
    top: 0px;
    z-index: 7;
}

.bottom1 .feature .imgCover :nth-child(5) {
    width: 400px;
    height: 300px;
    opacity: 0.5;
    position: absolute;
    left: 599px;
    top: 60px;
    z-index: 9;
}

