 h3 {
    margin: 0;
    padding: 0;
}

#bigMap {
    height: 680px;
    margin-top: -1px;
    width: 100%;
    /*background: url(../images/bg_e108c9e.jpg) no-repeat 0 -1410px;*/
    overflow: hidden;
}

#map {
    width: 1123px;
    height: 562px;
    margin: 30px auto;
    position: relative;
    background: url(../images/map2_e7121fa.png) no-repeat;
}

#bigMap h3 {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
}

#bigMap #map span {
    position: absolute;
    width: 38px;
    height: 48px;
    cursor: pointer;
    background: url(../images/dot_8409a9d.png) no-repeat;
}

#bigMap #map span:nth-child(1) {
    top: 40px;
    left: 405px;
}

#bigMap #map span:nth-child(2) {
    top: 40px;
    left: 700px;
}

#bigMap #map span:nth-child(3) {
    top: 132px;
    left: 389px;
}

#bigMap #map span:nth-child(4) {
    top: 133px;
    left: 635px;
}

#bigMap #map span:nth-child(5) {
    top: 189px;
    left: 463px;
}

#bigMap #map span:nth-child(6) {
    top: 189px;
    left: 585px;
}

#bigMap #map span:nth-child(7) {
    top: 442px;
    left: 573px;
}

#bigMap #map span:nth-child(8) {
    top: 244px;
    left: 366px;
}

#bigMap #map span:nth-child(9) {
    top: 288px;
    left: 477px;
}

#bigMap #map span:nth-child(10) {
    top: 268px;
    left: 755px;
}

#bigMap #map span:nth-child(11) {
    top: 299px;
    left: 638px;
}

#bigMap #map span:nth-child(12) {
    top: 342px;
    left: 333px;
}

#bigMap #map span:nth-child(13) {
    top: 449px;
    left: 427px;
}

#bigMap #map span:nth-child(14) {
    top: 356px;
    left: 626px;
}

#bigMap #map span:nth-child(15) {
    top: 420px;
    left: 758px;
    /*animation: move 1s;*/
    /*transition: 1s;*/
}

@keyframes move {
    0% {

    }
    50% {
        transform: translateY(-10px);
    }
    100% {
    transform£ºtranslateY(10 px);
    }
}
